<section class='flex flex-col items-center justify-center h-screen gap-5'>
  <div class='bg-white rounded shadow-lg max-w-[400px] w-full text-center py-2'>
    <h1 class='text-2xl font-bold'>Auth</h1>
  </div>
  <div
    class='flex flex-col gap-4 bg-white rounded p-5 max-w-[400px] w-full shadow-lg'
  >
    <input
      type='text'
      placeholder='Username'
    />
    <input
      type='password'
      placeholder='Password'
    />
    <button class='btn'>Sign in</button>
  </div>
</section>
<style>
  h1 {
    font-weight: 600;
  }
</style>
